.m-main {
  width: 100%;

  &-content,
  &-nav {
    display: block;
    float: left;
  }

  &-content {
    width: 65%;
    margin: 0 5% 0 0;
  }

  &-nav {
    width: 25%;
    margin: 0 0 0 5%;
  }
}