@import './vars/index.scss';

.m-product-list {
  table {
    border-collapse: collapse;

    tr,
    td {
      padding: 5px;
      vertical-align: top;
    }

    tr {
      &:nth-child(odd) {
        background-color: #c6ecf9;
      }
    }
  }

  &-item {
    &-image {
      width: 60px;
      height: 60px;
    }
    &-title {
      font-size: 1.4em;
      color: $titleColor;
    }
    &-descr {
      color: $bodyTextColor;
    }
  }

}
